

.teachers .swiper-container {
    width: 500px;
}

.teachers .swiper-pagination {
    bottom: 0;
    padding-bottom: 10px;
}

.teachers .swiper-wrapper {
    padding-inline-start: 0;
    width: 95%;
}

.teachers .swiper {
    width: 730px;
    height: 675px;
    background-color: #5EADCF;
    border-radius: 30px;
    margin-top: 30px;
}
.teachers .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.picture {
    width: 700px;
    list-style: none;
    border-radius: 20px;
}
.description {
    width: 700px;
    text-align: justify;
    text-transform: none;
    font-size: 13px;
    display: flex;
    color: black;
}
.header {
    margin: 0 0 -14px 0;
    font-size: 18px;
    color: black;
}
.pink-back {
    background-color: #FE8D72;
    height: max-content;
    z-index: -1;
    margin-top: 100px;
    position: relative;
    padding: 40px;
}
.absolute-picture {
    position: absolute;
    width: 40%;
    border-radius: 30px;
    left: 55%;
    top: -50px;
}
.text-around {
    width: 45%;
    height: 220px;
    font-size: 1.25vw;
}
.center-block {
    width: 70%;
}

@media (max-width: 992px) {
    .pink-back {
        height: 140px;
    }
}
@media (max-width: 768px) {
    .teachers .swiper {
        width: 95em;
        height: fit-content;
    }
    .teachers .swiper-slide {
        height: fit-content;
    }
    .picture {
        width: 90em;
        height: fit-content;
    }
    .description {
        width: 90%;
        margin-bottom: 10px;
    }
    .header {
        height: fit-content;
        text-align: center;
    }
    .absolute-picture {
        width: 45%;
        left: 50%;
        top: -25px;
    }
    .text-around {
        font-size: 1.45em;
    }
    .pink-back {
        padding: 20px 20px 40px 20px;
    }
}
@media (max-width: 576px) {
    .teachers .swiper-button-prev, .teachers .swiper-button-next {
        top: 30%;
    }
    .text-around {
        width: 100%;
        font-size: 2.4em;
        height: fit-content;
    }
    .float-right {
        float: right;
        width: 45%;
        border-radius: 15px;
        margin-top: -40px;
    }
    .pink-back {
        padding: 20px;
        height: fit-content;
        margin-top: 40px;
    }
}